# env & data
.haseigel
app/data/
.env
.venv
data/*
!data/images/temp
ready_for_llm/*

#cache
__pycache__/

# mac files
.DS_Store

# logs 
*.log

# intermediate results
*.json
*.parquet

# models

*.mf
